<button class="btn btn-icon-text btn-default resume-draft" type="button" style="margin-left: 1rem;" id="button-modal-socratic" {{action "submitContent"}}>
  <span class="d-button-label"> Reflect</span>
</button>
